@charset "UTF-8";
/* styles to contact */
*{
		padding: 0;
		margin: 0;
	    text-align: center;
	}
/* Navigation starts here*/	
nav{ 
	background-color:#C9C9C9;
	height:50px;
	width: 100%;
	}
	
 nav ul {
      height:50px;
	  width: 940px;
	  margin: 0 auto;
}

nav ul li {
	  list-style-type:none;
	  text-align: center;
	  width: 150px;
	  float:left;
	}
	   
 nav ul li a {
	  text-decoration: none;
	  color: white;
	  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	  display: block;
	  line-height: 50px;
	 
	  }   
 nav ul li a:hover{
		background-color:#818181;
	} 
	
 nav ul li img{
		height:50px
	}
/* Body element starts here*/	
body { 
	background-color:#C9C9C9;
	width: 1200px;
}

h1,h2,h4,p {
	background-color:#C9C9C9;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: center;
	color:white;
	font-weight: normal;
}

.info{
	background-color:#C9C9C9;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: center;
	text-decoration: none;
	color:white;
	font-weight: normal;
}

/* contact bar */
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;   
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}


input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    background-color: #f2f2f2;
	width: 800px;
	margin:10px auto;
	text-align: center;
    padding: 20px;
}
	

/*Footer starts here */
footer {
	background-color:#C9C9C9;
	height:50px;
	width: 1200;
	clear: left;
	text-align: center;
}

footer a {
      height:50px;
	  width: 1200px;
	  margin: 0 auto;
}

footer a {
	  list-style-type:none;
	  text-align: center;
	  width: 240px;
	  float:left;
	}
	   


